
/* credits to codefoxx on Youtube for the tutorial on how to split a background into different colours */
body {
	height: 100vh;
	background: linear-gradient(
		to right,
		#5C0D00 0%,
		#5C0D00 15%,
		#700f00 15%,
		#700f00 20%,
		#941400 20%,
		#941400 25%,
		#181111 25%,
		#181111 75%,
		#941400 75%,
		#941400 80%,
		#700f00 80%,
		#700f00 85%,
		#5C0D00 85%,
		#5C0D00 100%
	);
}

.margin {
	text-align: center;
	margin-left: 500px;
	margin-right: 500px;
}

.logo {
	position: absolute;
   top: 20px;
   right: 30px;
}

.cinnamonCan {
	position: absolute;
   top: 230px;
   right: 400px;
}

/* found out about this on flaviocopes so */
.zoom {
	zoom: 1.2;
}

h1 {
	color: RGB(255, 255, 255);
}

h3 {
	color: RGB(255, 255, 255);
}
